<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="Chrome"></parameter>
<listeners>
	<listener class-name="generatereport.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Testng">
    <classes>
    <class name="testscript.AdminUsersTest">
	<methods>
	<!--<include name="VerifyTheUserIsAbleToLoginUsingInvalidUsernameAndInvalidPassword"></include>-->
	<include name="verifyUserIsAbleToAddAdminUsers"></include>
	<!--<include name="verifyUserIsAbleToAddNewCategory"></include>-->
	<!--<include name="verifyUserisAbleToUpdateContactUsDetails"></include>
	<include name="verifyUserIsAbleToUpdateFooterText"></include>-->
	<!--<include name="verifyUserIsAbleToAddNews"></include>-->
<!--	<include name="verifyUserIsAbleToDeleteProduct"></include>
	<include name="verifyUserIsAbleToManageMenu"></include>
	<include name="ToverifyUserIsAbleToChangeSubcategoryStatus"></include>
	<include name="ToverifyUserIsAbleToAddNewSubCategory"></include>-->
	<!--<include name="verifyUserIsAbleToLogoutOfTheApplication"></include>
 	<exclude name="VerifyTheUserIsAbleToLoginUsingInvalidUsernameAndValidPassword"></exclude>
	<exclude name="VerifyTheUserIsAbleToLoginUsingvalidUsernameAndInvalidPassword"></exclude>
	<exclude name="VerifyTheUserIsAbleToLoginUsingInvalidUsernameAndInvalidPassword"></exclude>-->
	</methods>
    </class>
    </classes>
  </test> <!-- Testng.xml -->
</suite> <!-- Suite -->
